/*
	COLORS
	bronze: #CD7F32;
	bronze-gold: #E5A01D;
	bronze-antique: #665D1E;
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 36px;
}
section, header {
	display: flex;
}
.sticky {
	position: sticky;
	top: 50%;
	margin: 60px 0;
}
.sticky.no-margin-top {
	margin-top: 0;
}
.full-height {
	position: relative;
	min-height: 100vh;
}
.inner {
	position: relative;
	display: flex;
	width: 100%;
	margin: 0;
}
article {
	width: 50%;
}
article.two-col {
	display: flex;
	flex-direction: row;
	width: 70%;
}
.sidebar {
	width: 25%;
	padding: 0 30px;
	box-sizing: content-box;
}
.sidebar.sm {
	width: 15%;
}
a {
	color: #CD7F32;
}
p {
	margin-bottom: 30px;
}
.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}
.lead {
	font-size: 1.5em;
}
header h1 {
	color: #CD7F32;
	line-height: 1.2em;
	margin-bottom: 7px;
}
header h2 {
	color: #E5A01D;
	font-weight: normal;
}
header .team-name {
	color: #665D1E;
	transform: rotate(-90deg)translateY(85px);
}
header .team {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 60px;
}
header ul {
	list-style: none;
}
img.offset {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	z-index: -1;
}
img.offset.left {
	margin-left: -25%;
}
img.offset.right {
	margin-left: 25%;
}
img.abs-col-width {
	width: 50vw;
	margin: 60px 0;
	margin-left: -90px;
}
img.abs-col-width.right {
	margin-left: 0;
}
img.fill {
	width: 100vw;
	margin-left: -25vw;
	top: 0;
/*	transform: translateX(-25%);*/
	margin-bottom: 190px;
}
.underline {
	background-color: rgba(255,255,255,.9);
}
.overlay {
	color: #FFF;
}
.overlay a {
	color: #FFF;
	font-weight: bold;
}
.z-1 {
	z-index: -1;
}
.highlight {
	color: #665D1E;
}
.highlight-bronze {
	color: #CD7F32;
}
.highlight-gold {
	color: #E5A01D;
}
.column {
	flex: 0 1 100%;
	margin: 0 15px;
}
li.centered {
	flex-direction: column;
	text-align: center;
	max-width: 300px;
	margin: auto;
}
li img {
	width: 180px;
}